.countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.country{
    border: 1px solid black;
}
.maps-link{
    border: 1px solid blue;
    background-color: blue;
    border-radius: 15px;
}