.countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 20px;
}
.country{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    border-radius: 10px;
    background-color: #102542;
}
.maps-link{
    background-color: #2f2e55;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
#root > div > div > input{
    font-size: 15px;
    padding: 0 20px;
    width: 98%;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: #2f2e55;
    border: 0;
}